@import '../../node_modules/materialize-css/sass/materialize.scss';

@import '../../node_modules/gridjs/dist/theme/mermaid.css';
// @import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

.controls {
  >div {
    margin-left: auto;
    float: right;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
